*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .5s ease;
    font-family: poppins;
}
header,
section{
    overflow-x: hidden;
}

/*Specifying a variable root, whenever we want to 
use the Values we just call the variable name :root*/
:root{
    --Single-font:"Single".cursive;
    --Rubik:"Rubik".cursive;
    --Patua:"Patua One".cursive;
    --Lobster:"Lobster".cursive;
    --light-black:#2E2C2CAF;
    --bggradient:linear-gradient(
        to bottom,
        #DD2476, #FF512F);
        --light-gray:rgba(255,255,255,0.5)
}
header a{
    font-family: var(--Single-font);
    font-size: 0.9em;
    color: whitesmoke;
}
header{
    background-color:#DD2476;
    background: var(--bggradient);
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #FACD68;
    min-width: 160px;
    max-height: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background: #fff;
}
.dropdown:hover .dropdown-content{
    display: block;
}
header .nav-item{
    padding: .9em;
}
header .nav-item:last-child{
    padding-right: 8rem;
}
header .navbar-brand{
    padding-left: 8rem;
}
header .navbar-brand i:first-child{
    color: #FACD68;
}
header .nav-link{
    color: whitesmoke;
    font-weight: 500;
}
header .nav-link:hover{
    color: #FACD68;
}
header .row .col-md-5{
    padding: 4.2vmin 1vmin;
}
header .row .col-md-7{
    padding: 22vmin 1vmin;
    padding-bottom:35vmin ;
    color: white;
    border-radius: 20%;
    background: linear-gradient(transparent, #C0392B, transparent);
}
header .row .col-md-7 h2{
    margin: 10vmin 0 0 0;
    font-size: 2.1vmin;
    font-weight: 400;
}
header .row .col-md-5{
    position: relative;
}
header .row .col-md-5 img{
    width: 50%;
    padding-bottom: 10vmin;
}
header .row .col-md-5 .header-circle{
    position: absolute;
    bottom: 80px;
    left: 20px;
    width: 10rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #FACD68;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
header .row .col-md-5 .header-circle img{
    position: relative;
    width: 200px;
    top: 40px;
}
header .container .col-md-7 h6{
    padding: 1vmin;
    letter-spacing: 4px;
}
header .container .col-md-7 h1{
    font-size: 8vmin;
    font-weight: 400;
    padding: .1em 0em;
}
header .container .col-md-7 p{
    padding: 2.5vmin 5vmin;
    opacity: 0.7;
    font-size: 2vmin;
    font-weight: 300;
}
header .container .col-md-7 button{
    border-radius: 10px;
    font-weight: 500;
    background: #FACD68;
    border: none;
    transition: all 0.5s ease;
}
header .container .col-md-7 button:hover{
    background: #FFF;
}

/*Section One*/
.section-one{
    padding: 20vmin 0;
}
.section-one .row .col-md-6 .pray{
    position: relative;
}
.section-one .row .col-md-6 .pray img{
    opacity: .8;
    width: 70%;
    border-radius: 15px;
}
.section-one .row .col-md-6 .pray .img-circle{
    position: absolute;
    top: 80px;
    width: 10rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: var(--bggradient);
}
.section-one .row .col-md-6 .pray .img-circle2{
    position: absolute;
    right: 50px;
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #FACD68;
    z-index: 1;
}
.section-one .row .col-md-6 .panel{
   background: white;
   border-radius: 10px;
   text-align: left;
   padding: 10vmin 10vmin 15vmin 10vmin; 
   box-shadow: 1px 2px 50px 0px rgba(248, 50, 50, 0.2);
   font-family: var(--Rubik);
   z-index: 1;
}
.section-one .row .col-md-6 .panel h1{
    font-weight: bold;
    font-size: 1.5em;
}
.section-one .row .col-md-6 .panel p{
    font-size: 2vmin;
    color: rgba(0,0,0,0.5);
}
.section-one .row .col-md-6 .panel .panel-line{
    width: 100px;
    height: 2px;
    background: #DD2476;
    opacity: 0.5;
}

/*Section-Two */
.cover{
    width: 100%;
    height: 55vmin;
    background: url(../images/banner-entry.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.cover .content{
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cover .content>h1{
    font-family: var(--Patua);
    font-size: 6vmin;
    color: whitesmoke;
}
.cover .content>p{
    font-family: var(--Rubik);
    font-size: 2vmin;
    color: #E5E5E5;
}
.numbers .rect{
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 15px;
    border-bottom: 2px tomato solid;
    margin-top: -15vmin;
}
.numbers .rect h1{
    font-size: 4rem;
    color: tomato;
}
.numbers .rect p{
    font-family: var(--Patua);
}
.purchase>h1{
    padding-top: 15vmin;
    padding-bottom: .1em;
    font-family: var(--Lobster);
}
.purchase>p{
    color: var(--light-black);
    font-size: 2.2vmin;
    padding-bottom: 10vmin;
}
.purchase .cards .d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.purchase .cards .card{
    width: 20rem;
    margin: 2vmin;
    border-bottom: 1px tomato solid;
    box-shadow: rgba(26, 17, 17, 0.1) 0px 0px 16px;
}
.cards div{
    padding: 0;
    margin: 0;
    border-radius: 15px;
    border: 0;
}
.cards .title{
    background: tomato;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 2vmin;
}
.card .card-text{
    font-size: 2vmin;
    padding: 2.5rem 3rem;
    color: var(--light-black);
}
.card-body .pricing{
    background: rgba(208,241,241,0.1);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}
.card-body .pricing>h1{
    font-size: 5vmin;
    padding: 1em .5em;
}
.purchase .pricing .btn{
    border-radius: 10px;
    font-size: 1.8vmin;
    font-weight: 500;
    background: #FACD68;
    border: 1px #FACD68 solid;
    transition: all 0.5s ease;
}
.purchase .pricing .btn:hover{
    background: transparent;
    border: 1px #FACD68 solid;
}

/*Section-Three*/
.section-three{
    height: 70vmin;
    margin-top: 15vmin;
    background: var(--bggradient);
}
.section-three .col-md-12>h1{
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
}
.section-three .col-md-12>p{
    padding: 0 4em;
    padding-bottom: 2em;
    color: var(--light-gray);
    font-size: 2.2vmin;
}
.section-three .desktop{
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    padding: 1.5vmin 4.5vmin;
    margin: 1em;
}
.section-three .desktop i{
    color: #FF512F;
}
.section-three .desktop h3{
    font-size: 2.3vmin;
    font-weight: bold;
}
.section-three .desktop p{
    font-size: 1.8vmin;
}

/*Section-Four*/
.section-four .container h1{
    font-size: 6vmin;
    padding-top: 14vmin;
}

.section-four .team{
    padding: 10vmin 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section-four .card-img-top{
    background: var(--bggradient);   
    border-radius: 10px;
}
.section-four .team .card{
    width: 20rem;
    margin-top: 10vmin;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border: 0;
    border-radius: 15px;
}
.section-four .card .card-title{
    padding: 0.5em;
    font-size: 3vmin;
}
.section-four .card .card-text{
    padding: 0.5em;
    font-size: 2vmin;
    text-align: justify;
}
.section-four .card .card-body>a{
    font-size: 1em;
}
.section-four .card .card-body .text-black-50{
    font-size: .7em;
}
.section-four .carousel-item{
    /*
    padding-left: 3em;
    */
}
.border-radius{
    border-radius: 340px;
    width: 50%;
}
.primary-border-radius{
    border-radius: 50px;
    width: 50%;
}

/*Section-Five*/
.section-five{
    background: #C0392B;
    padding: 10vmin 0;
}
.section-five h2{
    color: #fff;
    padding-bottom: 10vmin;
    font-size: 4.5vmin;
}
.section-five .row h3{
    font-size: 4vmin;
}
.section-five .row p{
    font-size: 2.5vmin;
}
.section-five .row .col-md-6 .card i{
    font-size: 8vmin;
    color: #FACD68;
}
.section-five .row .card{
    padding: 4vmin 3vmin;
    border-radius: 10px;
    background: var(--light-black);
    color: #fff;
    border: 3px var(--light-black) solid;
    transition: all 0.5s ease;
}
.section-five .row .card:hover{
    border: 3px #FACD68 solid;
}



/*Footer*/
footer{
    background: rgba(0,0,0,0.8);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}
footer .row .col-md-5 h1, .col-md-2 h1{
    font-size: 2.5vmin;
}
footer .row .col-md-5 p{
    font-size: 2vmin;
}
footer .col-md-5:first-child i{
    color: #FF512F;
}
footer p>span{
    color: #FF512F;
}
footer input{
    border: none !important;
}
footer input::placeholder{
    font-size: 2vmin;
    color: white !important;
}
footer .input-group .input-group-text{
    background: var(--bggradient);
    border: none;
}
footer .column i{
    color: #DD2476;
    cursor: pointer;
}
footer .column i:hover{
    color: whitesmoke;
}
footer .column i+i{
    padding:0 .5em;
}

/* Sticky Class*/
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.1);
    background: var(--light-black);
    z-index: 9999;
    transition: all 1.5s ease;
}